<h1>WrokShop!</h1>
<p>Web上で問題の作成し、そのまま学習できるサイトを目指します</p>
<br>
<p><h3>大まかな構成</h3></p>
<ul>
  <li> 問題を作成する仕組み </li>
  <li> 学習して成績管理を行う </li>
</ul>
<br>

<p><h3>問題作成パターン</h3></p>
<ul>
  <li>テキスト記事：　簡易の確認問題表示、記事別掲示板</li>
  <li>選択問題　　：　択一形式</li>
  <li>完全一致判定： １文字単位での判定</li>
  <li>問題ランダム生成：  </li>
</ul>
