<h1>WrokShop!</h1>
<p>Web上で問題の作成し、そのまま学習できるサイトを目指します</p>
<br>
<p>大まかな構成</p>
<ul>
  <li> 問題の作成 </li>
  <li> 学習 </li>
</ul>
<p>学習シナリオ</p>
<ul>
  <li> 英語の書取り問題：英文の入力しスペルチェックを行う </li>
  <li> 計算ドリル：ランダムで問題を作成し、繰り返し問題を解く </li>
</ul>
