@import 'bootstrap-sprockets';
@import 'bootstrap';

/* universal */

body {
  padding: 60px 15px 0;
  background-color: #285050;
  color: #eeffff;
  //font-size: 18px;
}

input,textarea,select {
  color: #285050;
}

thead {
  background-color: #006e54
}
@import "articles.scss";
