@import 'bootstrap-sprockets';
@import 'bootstrap';

/* universal */

body {
  padding: 60px 15px 0;
  background-color: #285050;
  color: #eeffff;
}

input,textarea {
  color: #285050;
}
@import "articles.scss";
